<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <style>
     body{
    background-color: rgba(17, 78, 199, 0.638);
    
    }
    #ul{
    background-color: rgba(161, 161, 224, 0.888);
   }
   #h5{
   padding-top: 10px;
   padding-right: 600px;
   text-align: left;
   font-family: ravie;
  }
  h1{
    text-align: center;
    color: rgb(128, 240, 171);
    font-family:ravie ;
    padding-top: 15%;
    word-spacing: 2px;
    letter-spacing: 2px;
  }
  
    </style>
</head>
<body>  
    <div class="container-fluid">
    <ul class="nav justify-content-end " id="ul">
        <h5 id="h5">Home </h5>
        <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="register"class="nav-link">Register</a></li>
    </ul>
</div>
<h1>Student Management System</h1>
</body>
</html>