<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <style>
     body{
    background-color: rgba(18, 47, 105, 0.244);
    }
    #ul{
    background-color: rgba(161, 161, 224, 0.888);
   }
   #h5{
   padding-top: 10px;
   padding-right: 600px;
   text-align: left;
   font-family: ravie;
  }

    </style>
</head>
<body>  
    <div class="container-fluid">
    <ul class="nav justify-content-end" id="ul">
        <h5 id="h5">Student Home Page </h5>
        <li class="nav-item"><a href="edit_student" class="nav-link">Edit Profile</a></li>
        <li class="nav-item"><a href="view_stud_profile" class="nav-link">View Profile</a></li>
        <li class="nav-item"><a href="view_teachers"class="nav-link">View Teacher</a></li>
        <li class="nav-item"><a href="logout"class="nav-link">Logout</a></li>
    </ul>
</div>
</body>
</html>